ANTHROPIC_API_KEY=sk-ant-...
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TASK_QUEUE=chat
WEBHOOK_PORT=8787

# IRC bridge (npm run irc)
IRC_SERVER=irc.libera.chat
IRC_PORT=6667
IRC_TLS=false
IRC_NICK=ted-bot
IRC_CHANNEL=#ted
IRC_USER_ID=irc-bridge
# IRC_SESSION_ID defaults to irc-<channel-name-without-#>
# IRC_PASSWORD=
WEBHOOK_URL=http://localhost:8787
